:root{
    --color-background-footer: #44749d;
}

*{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #F3F5FC;
}

.logue-header{
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-top: 10px;
    margin-left: 10px;
}

.aluralogue{
    width: 120px;
    height: 48px;
}

.unicaucalogue{
    width: 65px;
    height: auto;
    margin-top: -5px;
}

.watermark {
    color:black;
    font-size: 14px;
    opacity: 1;
    margin: 10px 0;
}

.img-copy{
    width: 30px;
    height: auto;
}

.text-to-encrypt{
    border: none;
    color: #8A3B71;
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder{ color: #8A3B71; }
.text-to-encrypt:focus{
    outline: none;
}

.encrypt{
    background: white;
    background-repeat: no-repeat;
    border-radius: 24px;
    margin-left: 98px;
    margin-top: 30px;
    width: auto;
    height: auto;
    position: absolute;
    justify-content: center;
}

.text-encrypt{
    background: white;
    background-image: url("./img/searchcharacterencrypt.png");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center;
    padding-left: 10px;
    border: none;
    color: #8A3B71;
    text-transform: lowercase;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
}
.text-encrypt:focus{
    outline: none;
}

.searhlogue{
    width: 40px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 18px;
    max-width: 1000px;
    margin: 18px auto;/
}

.btn-encrypter,
.btn-decryptor {
    border-radius: 24px;
    cursor: pointer;
    width: 300px;
    height: 67px;
    flex: 1;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.btn-decryptor:hover {
    background-color: #0a3871;
    color: white;
}

.btn-encrypter:hover{
    background-color:#7e1028;
}

.btn-encrypter{
    background-color:#0a3871;
    border: 1px solid #0a3871;
    color: white;
}

.btn-decryptor{
    border: 1px solid #0a3871;
    color:#0a3871
}

.warninglogue{
    width: 15px;
    height: auto;
    margin-left: 20px;
}

.info{
    color: #8A3B71;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.decrypt-section{
    position: relative;
}

.btn-copy{
    border: 1px solid #0a3871;
    border-radius: 24px;
    color:#0a3871;
    cursor: pointer;
    height: 45px;
    margin-left: 335px;
    margin-top: 450px;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s, color 0.3s;
}

.btn-copy:hover {
    background-color: #0a3871;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

main{
    display: flex;
    margin-top: -50px;
    margin-bottom: 10px;
    margin-left: 80px;
    justify-content: center;
}

footer{
    color: #fff;
    padding: 20px;
    text-align: center;
    background-color: var(--color-background-footer);
    align-items:center;
}

.icons-social{
    width: 40px;
    height: auto;
    background-color: var(--color-background-footer);
}

.license-politic,
.license-politic a,
.social-icons,
.credits,
.credits a{
    background-color: var(--color-background-footer);
    font-size: 15px;
}

.watermark{
    width: 200px;
    border-radius: 24px;
    background-color: var(--color-background-footer);
}